{% extends "Image.twig" %}
{% block history %}
<div class="container" style="   flex-direction: row;border: solid gold;border-radius: 20px;width: 700px;">
{% block text %}

{% endblock %}
</div>
{% endblock %}